<header id="main-header" class="py-2 bg-info text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    <i class="fas fa-user"></i> Editar Cliente
                </h1>
            </div>

        </div>
    </div>
</header>

<form [formGroup]="clientesForm" (ngSubmit)="guardar()">
    <flash-messages></flash-messages>
    <!--botones-->
    <section id="accions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a routerLink="/" class="btn btn-light btn-block">
                        <i class="fas fa-arrow-left"></i> Regresar al inicio
                    </a>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success btn-block">
                        <i class="fas fa-check"></i> Guardar Cliente
                    </button>
                </div>
                <div class="col-md-3">
                    <a href="#" (click)="eliminar()" class="btn btn-danger btn-block">
                        <i class="fas fa-trash"></i> Eliminar Cliente
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="details">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Editar Cliente</h4>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" class="form-control cont-input-text"
                                    formControlName="nombre">
                            </div>
                            <div *ngIf="f.nombre.touched && f.nombre.invalid" class="alert alert-danger ">
                                <div *ngIf="f.nombre.errors.required">El nombre es requerido.</div>
                                <div *ngIf="f.nombre.errors.minlength " class="alert alert-danger">
                                    El nombre debe tener minimo 2 caracteres.
                                     </div>
                            </div>
                            <div class="form-group">
                                <label for="apellido">Apellido</label>
                                <input type="text" name="apellido" class="form-control cont-input-text"
                                    formControlName="apellido">
                            </div>
                            <div *ngIf="f.apellido.touched && f.apellido.invalid" class="alert alert-danger ">
                                <div *ngIf="f.apellido.errors.required">El apellido es Requerido.</div>
                                <div *ngIf="f.apellido.errors.minlength " class="alert alert-danger">
                                    El apellido debe tener minimo 2 caracteres.
                                     </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control cont-input-text"
                                    formControlName="email">
                            </div>
                            <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger ">
                                <div *ngIf="f.email.errors.required">El Email es requerido.</div>
                                <div *ngIf="f.email.errors.email" class="alert alert-danger">
                                    El formato no es correcto, ingrese un email válido
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="saldo">Saldo</label>
                                <input type="number" name="saldo" class="form-control cont-input-text"
                                    formControlName="saldo">
                            </div>
                            <div *ngIf="f.saldo.touched && f.saldo.invalid" class="alert alert-danger ">
                                <div *ngIf="f.saldo.errors.required">El saldo es requerido.</div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</form>